.ShaokeeMoua {
   color: white;
  font-size: 75px;
  font-family: 'signika', sans-serif;
   text-align: center;
   font-weight: bold;
   border: 3px black;
   padding: 20px;
}

.address {
   text-align: center;
   font-size: 25px;
   font-weight: bold;
   text-decoration: underline;
}

.info1 {
   font-size: 30px;
   font-weight: bold;
   float: left;
   
}

.education {
   
}

.edutitle {
    font-family: 'Droid-serif', sans-serif;
   font-size: 45px;
   color: white;
      text-decoration: underline;
   text-decoration-color: white;
   
}

.Skills {
   
}

.skilltitle {
    font-family: 'Droid-serif', sans-serif;
   font-size: 45px;
   color: white;
      text-decoration: underline;
   text-decoration-color: white;
   
}

.Experience {
   
}

.expertitle {
    font-family: 'Droid-serif', sans-serif;
   font-size: 45px;
   color: white;
      text-decoration: underline;
   text-decoration-color: white;
}

h4 {
   
}


body {
background-color: #99c2ff;
}

.Summary {
   font-family: 'Droid-serif', sans-serif;
   font-size: 45px;
   color: white;
   text-decoration: underline;
   text-align: center;
   text-decoration-color: white;
   margin-top: 40px;
}



.Skills {
    float: right;
}
    
