.ShaokeeMoua {
   color: white;
  font-size: 75px;
  font-family: 'signika', sans-serif;
   text-align: center;
   font-weight: bold;
}

.address {
   text-align: center;
   font-size: 25px;
   font-weight: bold;
}

.info1 {
   
}

.education {
   
}

.edutitle {
    font-family: 'Droid-serif', sans-serif;
   font-size: 45px;
   color: white;
   
}

.Skills {
   
}

.skilltitle {
    font-family: 'Droid-serif', sans-serif;
   font-size: 45px;
   color: white;
   
}

.Experience {
   
}

.expertitle {
    font-family: 'Droid-serif', sans-serif;
   font-size: 45px;
   color: white;
}

h4 {
   
}


body {
background-color: #99c2ff;
}

.Summary {
   font-family: 'Droid-serif', sans-serif;
   font-size: 45px;
   color: white;
}



.Skills {
    float: right;
}
    
